@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --content-width: 1920px;
  --min-content-width: 375px;
}
html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  font-size: clamp(1px, 1.11vw, 16px);
}
body {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.5);
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* スマホファースト */

.cta-area {
  position: relative;
}
a {
  transition: 0.3s;
}
a:hover {
  opacity: 0.6;
}
.btn-cta01,
.btn-cta02 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn-cta01 {
  width: calc(380 / 400 * 100vw);
  bottom: calc(58 / 400 * 100vw);
}
.btn-cta02 {
  width: calc(380 / 400 * 100vw);
  bottom: calc(280 / 400 * 100vw);
}
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .btn-cta01 {
    width: calc(380 / 1440 * 100vw);
    bottom: calc(90 / 1440 * 100vw);
  }
  .btn-cta02 {
    width: calc(380 / 1440 * 100vw);
    bottom: calc(387 / 1440 * 100vw);
  }
}
