
/* ============ Layer: Component ============ */

.c-tabs__list {
  display: flex;
  width: 100%;
  margin-bottom: clamp(1px, calc(13 / 750 * 100vw), 13px);
  gap: clamp(1px, calc(13 / 750 * 100vw), 13px);
}

.c-tabs__tab {
  width: calc(210 / 750 * 100vw);
  max-width: 210px;
  height: auto;
  border-radius: clamp(1px, calc(5 / 750 * 100vw), 5px);
  aspect-ratio: 210/91;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: 0.3s;
  opacity: 1;
  outline: none;
}
#tab-1 {
  background-image: url("../images/btn-1-off@2x.webp");
}
#tab-1.is-active {
  background-image: url("../images/btn-1-on@2x.webp");
  opacity: 1;
  outline: none;
}
#tab-2 {
  background-image: url("../images/btn-2-off@2x.webp");
}
#tab-2.is-active {
  background-image: url("../images/btn-2-on@2x.webp");
  opacity: 1;
  outline: none;
}
#tab-3 {
  background-image: url("../images/btn-3-off@2x.webp");
}
#tab-3.is-active {
  background-image: url("../images/btn-3-on@2x.webp");
  opacity: 1;
  outline: none;
}

#tab-1.c-tabs__tab:hover {
  opacity: 0.8;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #ec4130;
}
#tab-2.c-tabs__tab:hover {
  opacity: 0.8;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #017b49;
}
#tab-3.c-tabs__tab:hover {
  opacity: 0.8;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #065498;
}

.c-tabs__panel {
  width: 100%;
  height: auto;
  aspect-ratio: 560/315;
}

/* ============ Layer: Utility ============ */
.u-hidden {
  display: none !important;
}
